
.idea/inspectionProfiles/Project_Default.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/machine_learning_in_action.iml

.idea/misc.xml

.idea/modules.xml

.idea/workspace.xml

kNN/testDigits/0_0.txt

*.txt
